:root {
    --main-bg-color: #FFF0F5;
    --accent-color: #FBAED2;
    --main-font: "Cormorant Garamond", "Times New Roman", Times, serif;
}

/* CSS Flexbox for nav bar*/
nav {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #FFF0F5;
    padding: 0.5em, 1em;
    font-size: 1.2em;
}

.logo {
    max-width: 50px;
    margin-right: 1rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem; 
    justify-content: center;
}

nav li a {
    text-decoration: none;
    padding: 0.5em 1em;
    color: #333;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

nav li a:hover {
    background-color: #FBAED2;
    transform: scale(1.05);
}

body{
    background-color: #FFF0F5;
    background-color: var(--main-bg-color, #FFF0F5);
    font-family: var(--main-font, Times, serif);
}

main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.left {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
    font-size: 1.5em;
}

.typewriter {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #333;

    animation:
        typing 3s steps(10) infinite forwards,
        blink 0.7s infinite;

    font-size: 6em;
    letter-spacing: 2px;
    color: #333;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 10ch;
    }
}

@keyframes blink {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: #333;
    }
    100%{
        border-color: transparent;
    }
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
